<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kelly's Hospital</title>
<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
</style>

</head>

<body>
<div class="navbar">
  <a href="#kell'sHospital">KELLY'S HOSPITAL</a>
</div>
<div>
<br></br>
<br></br>
<br></br>
 <p style="margin-left: 170px;font-size: 45px; font-family: 'Arial Rounded MT Bold'">LOG IN</p>
<p style="margin-left: 170px; font-size: 25px;font-family: 'Arial Rounded MT Bold'; color: red">Please check your credentials!</p>
<form action="/home">
    <p style="margin-left: 170px; font-size: 25px;font-family: 'Arial Rounded MT Bold'">User name:</p>
    <p style="margin-left: 170px;font-size: 25px;"><input type="text" name="username"></p>
    <p style="margin-left: 170px;font-size: 25px;font-family: 'Arial Rounded MT Bold'">Password:</p>
    <p style="margin-left: 170px;font-size: 25px;"><input type="text" name="Password"></p>
    <p style="margin-left: 170px;font-size: 25px;"><input type="submit" value="Submit"></p>
</form>

</div>
</body>
</html>