<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>patients And Doctors</title>
    <style>
        body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 60px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
    </style>
</head>
<body>

<div class="navbar">
  <a href="#">KELLY'S HOSPITAL</a>
</div>
<h1 style="padding-top:90px; font-size: 30px">Patients and doctors</h1>
<div>

    <form action="/patientsAndDoctors" method=”POST” style="display: flex;width: 400px">
    <table border="1"; style="margin-left: 100px">
    <th>ID</th>
    <th>Patients</th>
    <th>Doctor's ID</th>
    <th>Doctor's name</th><br>
        {% for item in data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td><br>
        </tr>
        {% endfor %}
    </table>
    </form>
</div>
</body>
</html>